body {
  box-sizing: border-box;
  width: 100vw;
}
/* For testing only */
*:not(body):not(html) {
  // border:1px dashed #000;
}

//abstracts
@import "abstracts/variables";


//navigation
#navbarSupportedContent{
  background-color: $main-green;
}
#navbarSupportedContent ul {
  padding: 1% 0 1% 5%;
}
.light-type{
  color: #fff;
  font-weight: bold;
}
.navbar li {
  list-style: none;
}
.navbar li a {
  color: $black;
}
.navbar {
  padding: 0;
}
.nav-event {
  background-image: url(../img/diglet.png);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $light-green;
  z-index: 1;
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 5%;
}
.nav-event form {
  width:85%;
  margin-left: auto;
  margin-right: auto;
}
.nav-event #inlineFormInput{
  border-radius: 20px;
  background-color: $light-green;
  color:white;
}
 #inlineFormInput::placeholder{
  color:white;
}
//LEARN, NETWORK, STARTUP
.header {
  background: url("../img/group.png");
  padding: 5%;
  text-align: center;
}
.display-3 {
  font-size: 4.5em;
  font-weight: bold;
}

.event-search-a {
  background-color: $main-green;
  padding: 3%;
  border-radius: 20px;
  margin-top: 5%;
  font-size: 1.3em;
  font-weight: bold;
}
.event-search-b {
  color: white;
  background-color: $main-green;
  width: 100%;
  padding: 11% 4%;
}

h5, h6 {
    text-align: center;
    margin: 5px auto;
    padding: 0;
}
#inlineFormInput {
  color: white;
  background-color: $main-green;
  border: 3px solid white;
  margin-left: 3vw;
}
.event-search-b button {
  margin-left: 8%;
}
button{
  background-color: white;
  color: $main-green;
  height: 3rem;
  width: 6rem;
  font-weight: bold;
  &:hover {
    background-color: $light-green;
    color: white;
  }
}
