.event-search-a {
  background-color: $main-green;
  padding: 3%;
  border-radius: 20px;
  margin-top: 5%;
  font-size: 1.3em;
  font-weight: bold;
}
.event-search-b {
  color: white;
  background-color: $main-green;
  width: 100%;
  padding: 11% 4%;
}

h5, h6 {
    text-align: center;
    margin: 5px auto;
    padding: 0;
}


#inlineFormInput {
  color: white;
  background-color: $main-green;
  border: 3px solid white;
  margin-left: 3vw;
}
