// colors  🎨\
// #414141; black
// #0db14b; bright green
//#33b069; muted bright green
// #428bca; blue
// #f4f4f4; off-white
// #59b775; less green
// #808080; grey
// #262626; black

$main-green: #0db14b;
$black: #262626;
$light-green: #33b069;
$off-white: #f4f4f4;
